/* Reset CSS */  
  /* Body */
  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
   
  }

  .container{
  border: 2px solid black;
  margin: 10px;
  background-color: wheat;
}

  /* Header */
  header {
    padding: flex;
    background-color: #fff;
    color: #000000;
    text-align: center;
    border: 2px solid black;
  }
  
  /* Title */
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
 /* Button */
button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    text-align: center;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: auto;
}

  /* Main Content */
  .main {
    padding: 20x;
    background-color: #fff;
    color: #000000;
    text-align: justify;
    border: 2px solid black;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: justify;
}

th {
    background-color :#F6B477;
}
  
  .img {
    max-width: 80% ;
    max-height: 80%;
    display: block; 
    margin: auto; 
   }
   